<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <%- include('head'); -%>
        <script></script>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>

        <main data-barba="container" data-barba-namespace="home">
            <div class="main-view">
                <div class="intro">
                    <div class="intro__slot intro__slot-1"></div>
                    <div class="intro__slot intro__slot-2"></div>
                    <div class="intro__slot intro__slot-3"></div>
                    <div class="intro__slot intro__slot-4"></div>
                    <div class="intro__slot intro__slot-5"></div>
                </div>
                <div class="pattern">
                    <div class="title">
                        <div class="title-h1">Concretum Operis, Inc</div>
                        <div class="title-info line anim-typewriter">
                            Let's bring your vision to life
                        </div>
                    </div>
                </div>
                <header class="header">
                </header>
                <div class="service" id="service-div">
                    <h2 class="service__title">
                        Our Services
                    </h2>
                    <div class="service__grid">
                        <div class="service__card service__card--1">
                            <div class="service__card--top">
                                <div class="service__card--midDiv">
                                    <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Settings</title><path d='M262.29 192.31a64 64 0 1057.4 57.4 64.13 64.13 0 00-57.4-57.4zM416.39 256a154.34 154.34 0 01-1.53 20.79l45.21 35.46a10.81 10.81 0 012.45 13.75l-42.77 74a10.81 10.81 0 01-13.14 4.59l-44.9-18.08a16.11 16.11 0 00-15.17 1.75A164.48 164.48 0 01325 400.8a15.94 15.94 0 00-8.82 12.14l-6.73 47.89a11.08 11.08 0 01-10.68 9.17h-85.54a11.11 11.11 0 01-10.69-8.87l-6.72-47.82a16.07 16.07 0 00-9-12.22 155.3 155.3 0 01-21.46-12.57 16 16 0 00-15.11-1.71l-44.89 18.07a10.81 10.81 0 01-13.14-4.58l-42.77-74a10.8 10.8 0 012.45-13.75l38.21-30a16.05 16.05 0 006-14.08c-.36-4.17-.58-8.33-.58-12.5s.21-8.27.58-12.35a16 16 0 00-6.07-13.94l-38.19-30A10.81 10.81 0 0149.48 186l42.77-74a10.81 10.81 0 0113.14-4.59l44.9 18.08a16.11 16.11 0 0015.17-1.75A164.48 164.48 0 01187 111.2a15.94 15.94 0 008.82-12.14l6.73-47.89A11.08 11.08 0 01213.23 42h85.54a11.11 11.11 0 0110.69 8.87l6.72 47.82a16.07 16.07 0 009 12.22 155.3 155.3 0 0121.46 12.57 16 16 0 0015.11 1.71l44.89-18.07a10.81 10.81 0 0113.14 4.58l42.77 74a10.8 10.8 0 01-2.45 13.75l-38.21 30a16.05 16.05 0 00-6.05 14.08c.33 4.14.55 8.3.55 12.47z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/></svg>
                                </div>
                            </div>
                            <h3 class="service__card--title">Pre-Construction</h3>
                            <p class="service__card--info">
                                This phase includes constant monitoring and interaction. We keep an eye on budgets to ensure the lowest costs,  stay on top of schedules for timely delivery and work closely with the design team to create your vision.
                            </p>
                            <a class="service__card--btn">Learn more&nbsp;<p class="service__card--btn--arrow">&rarr;</p></a>
                        </div>
                        <div class="service__card service__card--2">
                            <div class="service__card--top">
                                <div class="service__card--midDiv">
                                    <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Hammer</title><path d='M277.42 247a24.68 24.68 0 00-4.08-5.47L255 223.44a21.63 21.63 0 00-6.56-4.57 20.93 20.93 0 00-23.28 4.27c-6.36 6.26-18 17.68-39 38.43C146 301.3 71.43 367.89 37.71 396.29a16 16 0 00-1.09 23.54l39 39.43a16.13 16.13 0 0023.67-.89c29.24-34.37 96.3-109 136-148.23 20.39-20.06 31.82-31.58 38.29-37.94a21.76 21.76 0 003.84-25.2zM478.43 201l-34.31-34a5.44 5.44 0 00-4-1.59 5.59 5.59 0 00-4 1.59h0a11.41 11.41 0 01-9.55 3.27c-4.48-.49-9.25-1.88-12.33-4.86-7-6.86 1.09-20.36-5.07-29a242.88 242.88 0 00-23.08-26.72c-7.06-7-34.81-33.47-81.55-52.53a123.79 123.79 0 00-47-9.24c-26.35 0-46.61 11.76-54 18.51-5.88 5.32-12 13.77-12 13.77a91.29 91.29 0 0110.81-3.2 79.53 79.53 0 0123.28-1.49C241.19 76.8 259.94 84.1 270 92c16.21 13 23.18 30.39 24.27 52.83.8 16.69-15.23 37.76-30.44 54.94a7.85 7.85 0 00.4 10.83l21.24 21.23a8 8 0 0011.14.1c13.93-13.51 31.09-28.47 40.82-34.46s17.58-7.68 21.35-8.09a35.71 35.71 0 0121.3 4.62 13.65 13.65 0 013.08 2.38c6.46 6.56 6.07 17.28-.5 23.74l-2 1.89a5.5 5.5 0 000 7.84l34.31 34a5.5 5.5 0 004 1.58 5.65 5.65 0 004-1.58L478.43 209a5.82 5.82 0 000-8z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/></svg>
                                </div>
                            </div>
                            <h3 class="service__card--title">Construction</h3>
                            <p class="service__card--info">
                                Working with trusted subcontractors, we keep them accountable throughout the entire build. From sequence to production and quality control, we stay focused on the goal. 
                            </p>
                            <a class="service__card--btn">Learn more&nbsp;<p class="service__card--btn--arrow">&rarr;</p></a>
                        </div>
                        <div class="service__card service__card--3">
                            <div class="service__card--top">
                                <div class="service__card--midDiv">
                                    <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Layers</title><path d='M434.8 137.65l-149.36-68.1c-16.19-7.4-42.69-7.4-58.88 0L77.3 137.65c-17.6 8-17.6 21.09 0 29.09l148 67.5c16.89 7.7 44.69 7.7 61.58 0l148-67.5c17.52-8 17.52-21.1-.08-29.09zM160 308.52l-82.7 37.11c-17.6 8-17.6 21.1 0 29.1l148 67.5c16.89 7.69 44.69 7.69 61.58 0l148-67.5c17.6-8 17.6-21.1 0-29.1l-79.94-38.47' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/><path d='M160 204.48l-82.8 37.16c-17.6 8-17.6 21.1 0 29.1l148 67.49c16.89 7.7 44.69 7.7 61.58 0l148-67.49c17.7-8 17.7-21.1.1-29.1L352 204.48' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/></svg>
                                </div>
                            </div>
                            <h3 class="service__card--title">Post-Construction</h3>
                            <p class="service__card--info">
                                The last step in any build. This phase includes site cleanup, systems training, final inspections and move-in coordination. After completion, we have a final walkthrough to ensure your complete satisfaction. 
                            </p>
                            <a class="service__card--btn">Learn more&nbsp;<p class="service__card--btn--arrow">&rarr;</p></a>
                        </div>
                    </div>
                </div>
                
                <div class="about" id="about-div">
                    <div class="about__top">
                        <img class="about__top__back-img" src="/img/under_construction.svg" alt="Building Under Construction">
                        <div class="about__top__title">About Our Company</div>
                    </div>
                    <div class="about__bottom">
                        <div class="about__bottom__wDo">
                            <h4 class="about__bottom__wDo-title">What We Do</h4>
                            <p class="about__bottom__wDo-text">Our commercial projects include both new construction and repairs/restorations. Occupied and fully operational job sites are never a problem. And we can also plan, manage, and build multi-phase jobs. We secure that our houses will last standing for the next 100 years.</p>
                        </div>
                        <div class="about__bottom__wTo">
                            <h4 class="about__bottom__wTo-title">Working Together</h4>
                            <p class="about__bottom__wTo-text">We offer an end-to-end client experience that includes seamless communication, budgeting, staffing, on-site organization, and solid, quality handiwork every time. We're known for our quality work, our company isn't the name, it our employees and our team! </p>
                        </div>
                        <div class="about__bottom__wC">
                            <h4 class="about__bottom__wC-title">Why Choose Us?</h4>
                            <p class="about__bottom__wC-text">We work with architects and designers to produce beautiful, functional structures. Call us today and bring our project management skills and extensive construction experience to your next project. We deliver excellent customer service along with quality work.</p>
                        </div>
                    </div>
                </div>
                <section class="gallery" id="gallery_id">
                    <%for(i = 0; i < 14; i++) {%>
                        <%if (images.length > i) {%>
                            <% var image = images[i]; %>
                            <figure class="gallery__item gallery__item--<%= i + 1%>">
                                <img id="__img-<%=i%>" class="gallery__img" src="data:image/<%=image.img.contentType%>;base64, 
                                        <%=image.img.data.toString('base64')%>">
                            </figure>
                        <%} else {%>
                            <figure class="gallery__item gallery__item--<%= i + 1%>">
                                <img id="__img-<%=i%>" class="gallery__comingsoon" src="./img/coming_soon.jpg">
                            </figure>
                        <%}%>
                    <%}%>
                </section>
                <%- include('bottom'); -%>
            </div>
            <div>
                <div class="popup" id="popup">
                    <div class="popup__content">
                        <div id="popup__carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <% images.forEach(function(image, index) { %>
                                    <div id="carousel__img-<%=index %>" class="carousel-item">
                                        <img class="carousel__img" src="data:image/<%=image.img.contentType%>;base64, 
                                        <%=image.img.data.toString('base64')%>"> 
                                        <!-- <% if(image.title !== "") {%>
                                        <div class="carousel-item__container">
                                            <h2 class="carousel-item__container-title"><%=image.title%></h2>
                                            <% if(image.desc !== ""){%>
                                            <p class="carousel-item__container-desc"><%=image.desc%></p>
                                            <%}%>
                                        </div>
                                        <%}%> -->
                                    </div>
                                <% }) %>
                            </div>
                            <a class="carousel-control-prev" href="#popup__carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#popup__carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contact-popup">
                    <div class="contact-popup__close">
                        <div class= "contact-popup__close-x uploaded_div__images--card-div-remove__span"></div>
                    </div>
                    <h1 class="contact-popup__info-h1" id="postText">We will get back to you as soon as possible</h1>
                    <img id="postGif" src="/img/Radio-1s-200px.svg">
                    <div class="contact-popup__info">
                        <h1 class="contact-popup__info-h1">Let's get in touch</h1>
                        <p  class="contact-popup__info-p">Enter your name, phone number and we'll get back to you as soon as possible.</p>
                        <form class="contact-popup__form">
                            <div class="contact-popup__form--left">
                                <label class="contact-popup__form--label" for="contactPopupName">Name</label><br>
                                <input class="contact-popup__form--input" type="text" name="contactPopupName" placeholder="ex. First Last" required><br>
                            </div>
                            <div class="contact-popup__form--right">
                                <label class="contact-popup__form--label" for="contactPopupNumber">Phone Number</label><br>
                                <input class="contact-popup__form--input" type="text" maxlength="12" name="contactPopupNumber" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45)" placeholder="ex. 234-456-6789" required><br>
                            </div>
                            <button class="contact-popup__form--submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer'); -%>
    </body>
</html>