<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <%- include('head'); -%>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main class="portfolio_body full_page" data-barba="container" data-barba-namespace="portfolio" >
            <div class="portfolio_back">
                <div class="title">Projects</div>
            </div>
            <% if (projects.length == 0) { %>
                <div class="coming-soon-div">Projects Coming Soon...</div>
            <% } else { %>
            <div class="portfolio" data-barba-prevent="all">
                <% projects.forEach(function(proj, index) { %>
                <a href="/project/<%=helper.clean(proj.name)%>"> 
                    <div class="edit__currentProjects-grid__project">
                        <img class="cover-img edit__currentProjects-grid__project_img" src="data:image/<%=proj.homeImg.contentType%>;base64,
                        <%=proj.homeImg.data.toString('base64')%>">
                        <div class="project_name">
                            <%=proj.name%>
                        </div>
                        <div class="view_project">
                            View Project &#x000BB;
                        </div>
                    </div>
                </a>
                <% }) %>
            </div>
            <% } %>
        </main>
        <%- include('footer'); -%>
    </body>
</html>