<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <%- include('head'); -%>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main class="portfolio_body" data-barba="container" data-barba-namespace="project">
            <input style="display: none;" id="projectPortId" type="text" value="<%=project._id%>">
            <div class="project-root">
                <h2 class="word-wrap project-root__title"><%=project.name%></h2>
                <div class="project-root__gallery">
                    <%- include('show-images.ejs', {images: images}); -%>
                </div>
                <img class="loading_svg" src="./img/three-dots.svg">
            </div>
        </main>
        <script>
            var page = 2;
            var foundAll = false;
            var id = $("#projectPortId").val();

            window.onscroll = function(ev) {
                if (((window.innerHeight + window.scrollY) >= document.body.scrollHeight) && foundAll == false) {
                    // you're at the bottom of the page
                    var url_imgs = '/more_imgs/' + id + "/"+ page;
                    $(".loading_svg").show();
                    $.ajax( {
                        url: url_imgs,
                        type: "POST",
                        contentType: 'application/json',
                        async: false,
                        success: function(res) {
                            if (res['html'] == null) {
                                foundAll = true;
                            }
                            else {
                                $('.project-root__gallery').append(res['html']);
                                page = page + 1;
                            }
                        },
                        error: function() {
                            alert("Ajax not successful");
                        }
                    });
                    $(".loading_svg").hide();
                }
            };
        </script>
        <%- include('footer'); -%>
    </body>
</html>